@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  color: #fff;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background: #222222;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fee500;
    border-radius: 20px;
    border: 2px solid #222222;
  }

  &::selection {
    background: #000;
    color: #fee500;
  }

  &::-moz-selection {
    background: #000;
    color: #fee500;
  }
}

.app-content {
  min-height: 100dvh;
  background: linear-gradient(145deg, #161616 59.58%, #423b00 103.05%);
}
